.about{
    padding-top : 100px;
}

fieldset{
    border : 3px solid red;
    text-align : left;
    width : 451px;
    margin-left : auto;
    margin-right : auto;
    padding : 25px;
    color : red;
    transition : border 1s, color 1s;
}

legend{
    font-size : 25px;
    font-weight : bold;
    text-align : center;
    letter-spacing : 1px;
}

p{
    font-size : 22.5px;
    font-weight : bold;
    letter-spacing : 1px;
}

.med{
    margin-left : auto;
    margin-right : auto;
    width : 200px;
}

.med tr td{
    text-align : center;
}

.soc{
    width : 50px;
    height : 50px;
    transition : 0.5s;
}

.soc:hover{
    transform : scale(1.1);
}

@media screen and (max-width : 550px){
    .about{
        padding-top : 110px;
    }
    fieldset{
        width : 280px;
        padding : 20px;
    }

    legend{
        font-size : 20px;
    }
    p{
        font-size : 15px;
    }
    .med{
        width : 160px;
    }
    .soc{
        width : 40px;
        height : 40px;
    }
}